span {
  margin-left: 5px;
  &.user-name {
    color: #8bb5ce;
    font-weight: bold;
    &::after {
      content: ":";
    }
  }
  &.time {
    &::after {
      content: ")";
    }

    &::before {
      content: "(";
    }
  }
}
