@import "../../../assets/scss/variables.scss";

:host {
  @extend %height-shared;
  display: block;
}

.main {
  @extend %height-shared;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: #333333;
  header {
    @extend %padding-left-right-shared;
    h4 {
      color: #565656;
    }
  }

  .chat-holder {
    @extend %height-shared;
    display: flex;
    article {
      @extend %padding-shared;
      @extend %height-shared;
      flex-basis: 80%;
      background-color: #fff;
    }

    aside {
      @extend %padding-shared;
      @extend %height-shared;
      flex-basis: 20%;
      padding-top: 0;
    }
  }
}
